<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-Katty/blob/main/Actividad_de_semana_1_2_Python_for_Data_Science_(IBM).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### Desarrollo curso PHYTON

Capther 1

In [2]:
print("Hello Phyton 101")
#Hello Phyton 102

Hello Phyton 101

In [5]:
type("Hello Phyton 102")
type(2)
type(3.1416)

float

In [6]:
int(3.1416)

3

#expression and variables

In [8]:
4+10*6
10//3

3

In [11]:
total_tarifa = 4000
total = total_tarifa * 20
print(total)

80000

In [13]:
name = "Katherine Vanegas"
name[0:5]

'Kathe'

In [20]:
print("Mi hora es \nlas 3 de la tarde")
print("Mi hora es \tlas 3 de la tarde")
print(r"Mi hora es \\ las 3 de la tarde")

Mi hora es
las 3 de la tarde
Mi hora es 	las 3 de la tarde
Mi hora es \\ las 3 de la tarde

Chapter 2

In [36]:
name1 = ("Katherine", 35, 2022)
name1[2]
name2 = name1+("enjoy", 15)

In [45]:
L= ["JOY", 10, 21]
L.extend(["Katty", 32])
L.append("Lola")
del(L[1])
print(L)

['JOY', 21, 'Katty', 32, 'Lola']

sets